/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

/* Set standard font size for accessibility */

html {
  font-size: 62.5%;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  background-color: black;
  color: yellow;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


header {
  height: 100px;
}


ul {
  list-style: none;

}

li {
  display: inline-block;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.button-74, input {
  text-align: center;
  width: 150px;
  height: 30px;
  background-color: yellow;
}

img{
  display: block;
  margin: 0 auto;
  height: 500px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


/* CSS */

.button-74:hover {
  background-color: rgb(49, 180, 34);
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}