/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

/* Set standard font size for accessibility */

html {
  font-size: 62.5%;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  background-color: black;
  color: yellow;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


header {
  height: 100px;
}


ul {
  list-style: none;

}

li {
  display: inline-block;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}


img{
  display: block;
  margin: 0 auto;
  height: 500px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
